JAHIA_IMAGE=${JAHIA_IMAGE:-ghcr.io/jahia/jahia-ee-dev:8-SNAPSHOT}
TESTS_IMAGE=${TESTS_IMAGE:-jahia/quick-find:latest}
MODULE_ID=${MODULE_ID:-quick-find}
MANIFEST=${MANIFEST:-provisioning-manifest-snapshot.yml}
JAHIA_URL=${JAHIA_URL:-http://localhost:8080}
QUICK_FIND_SITE_SERVER_NAME=${QUICK_FIND_SITE_SERVER_NAME:-}
QUICK_FIND_VANITY_BASE_URL=${QUICK_FIND_VANITY_BASE_URL:-}
SUPER_USER_PASSWORD=${SUPER_USER_PASSWORD:-root1234}
NEXUS_USERNAME=${NEXUS_USERNAME:-NEXUS_USERNAME}
NEXUS_PASSWORD=${NEXUS_PASSWORD:-NEXUS_PASSWORD}
JAHIA_LICENSE=${JAHIA_LICENSE:-""}
